<html>
    <head>
<script>
    window.onload=setTimeout(function(){
        window.location.href="/login"
    },2000)
</script>
</head>
<body>
<h1>your account sucessfully deleted</h1>
</body>
</html>