<html>
<head>
    <link href="css/o.css" rel="stylesheet" type="text/css"/>

</head>
<body>
<div class="nav">
    <ul>
        <li><a href="/login2">home</a></li>
     <li><a href="/upload">upload</a></li>
     <li><a href="/logout" >logout</a></li>
     <li><a href="/setting">setting</a></li>
        
    </ul>
</div>
<div id="content">
 <form action="/delete" method="POST">
    <h1>Delete your account:</h1>
    <br>
    <input type="submit" value="delete" />
</form>
</div>
</body>
</html>