<html>
    <head>
        <link href="css/c.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div id="l">
<fieldset>
<legend><h1>signup</h1></legend>
<form action="/signup" method="POST">
<input type="text" name="username" placeholder="username" required/>
<br>
<input type="email" name="email" placeholder="email" required/>
<br>
<input type="password" name="pass" placeholder="password" minlength="4" required/>
<br>
<input type="submit" value="signup" id="submit"/>
</form>
</fieldset>
    </div>

        <h1><a href="/login">login</a></h1>
    </body>
</html>
